nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5vh;
}
form{
    display: flex;
    flex-direction: column;
    /* border: solid 3px gray; */
    width: 30%;
}
label{
    /* border: solid 3px red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
/* input{
    border: solid 3px blue;
} */